<a href="https://colab.research.google.com/github/klinhle2306/Education-Inequality/blob/main/Education_Inequality_Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction

This project addresses inequality of educational opportunity in U.S. high schools. Here we will focus on average student performance on the ACT or SAT exams that students take as part of the college application process.

We expect a range of school performance on these exams, but is school performance predicted by socioeconomic factors?

## Import libraries

In [471]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style='whitegrid')
import missingno as msno

# Train-test splits
from sklearn.model_selection import train_test_split

# Model preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler


# Modeling
import statsmodels.formula.api as smf
import statsmodels.api as sm

# Model metrics and analysis
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

# Imputation
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer, IterativeImputer, KNNImputer

## The data

This project utilizes two data sets. The primary data set is the EdGap data set from [EdGap.org](https://www.edgap.org/#5/37.875/-96.987). This data set from 2016 includes information about average ACT or SAT scores for schools and several socioeconomic characteristics of the school district. The secondary data set is basic information about each school from the [National Center for Education Statistics](https://nces.ed.gov/ccd/pubschuniv.asp).

### EdGap data

All socioeconomic data (household income, unemployment, adult educational attainment, and family structure) are from the Census Bureau's American Community Survey. 

[EdGap.org](https://www.edgap.org/#5/37.875/-96.987) report that ACT and SAT score data is from each state's department of education or some other public data release.

### School information data

The school information data is from the [National Center for Education Statistics](https://nces.ed.gov/ccd/pubschuniv.asp). This data set consists of basic identifying information about school.

## Load the data

Load the EdGap
 data set

In [472]:
edgap = pd.read_excel('https://raw.githubusercontent.com/brian-fischer/DATA-3320/main/education/EdGap_data.xlsx')

/usr/local/lib/python3.9/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

Load the school information data

In [473]:
!wget https://www.dropbox.com/s/lkl5nvcdmwyoban/ccd_sch_029_1617_w_1a_11212017.csv?dl=0

--2023-04-24 22:03:01--  https://www.dropbox.com/s/lkl5nvcdmwyoban/ccd_sch_029_1617_w_1a_11212017.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:6018:18::a27d:312
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/lkl5nvcdmwyoban/ccd_sch_029_1617_w_1a_11212017.csv [following]
--2023-04-24 22:03:01--  https://www.dropbox.com/s/raw/lkl5nvcdmwyoban/ccd_sch_029_1617_w_1a_11212017.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucea18a6edf3f0bd5f21c9afcd38.dl.dropboxusercontent.com/cd/0/inline/B62KhNBlyYXAeZ5oChVibx8ALw7XjZLihkSLb0MyyWFtV9sZRY0hDBhyvloAm7v2_r2pg9Ah8fG-a_50PMlfA-T7pOKXgW04pPWXOAD51Fi7CUPnwFHmKLKa-5kMWpSofz1BPS5fHGDLL1leiai58IpA88Wl6YD0B5D5K7qQsyDXmA/file# [following]
--2023-04-24 22:03:02--  https://ucea18a6edf3f0bd5f21c9afcd38.dl.dropboxusercontent.com/cd/0/inline/B62KhNBlyYXAeZ5oChVibx8ALw7XjZLihkSLb0MyyWFtV9sZRY0hDBhyvloAm7v2_r2pg9Ah8fG-a_50PMlfA-T7pOKXgW04pPWXOAD51Fi7CUPnwFHmKLKa-5kMWpSofz1BPS5fHGDLL1leiai58IpA88Wl6YD0B5D5K7qQsyDXmA/file
Resolving ucea18a6edf3f0bd5f21c9afcd38.dl.dropboxusercontent.com (ucea18a6edf3f0bd5f21c9afcd38.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:6017:15::a27d:20f
Connecting to ucea18a6edf3f0bd5f21c9afcd38.dl.dropboxusercontent.com (ucea18a6edf3f0bd5f21c9afcd38.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 40477083 (39M) [text/plain]
Saving to: ‘ccd_sch_029_1617_w_1a_11212017.csv?dl=0.9’

ccd_sch_029_1617_w_ 100%[===================>]  38.60M  37.4MB/s    in 1.0s

2023-04-24 22:03:03 (37.4 MB/s) - ‘ccd_sch_029_1617_w_1a_11212017.csv?dl=0.9’ saved [40477083/40477083]

In [474]:
school_info = pd.read_csv('ccd_sch_029_1617_w_1a_11212017.csv?dl=0', encoding= 'unicode_escape')

<ipython-input-474-54e0747c4ccf>:1: DtypeWarning: Columns (6,9,14,15,18,19,21,22,25,26,29,31,35,39,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  school_info = pd.read_csv('ccd_sch_029_1617_w_1a_11212017.csv?dl=0', encoding= 'unicode_escape')

## Explore the contents of the data sets

In [475]:
edgap.head()

,NCESSCH School ID,CT Unemployment Rate,CT Pct Adults with College Degree,CT Pct Childre In Married Couple Family,CT Median Household Income,School ACT average (or equivalent if SAT score),School Pct Free and Reduced Lunch
0,100001600143,0.117962,0.445283,0.346495,42820.0,20.433455,0.066901
1,100008000024,0.063984,0.662765,0.767619,89320.0,19.498168,0.112412
2,100008000225,0.056460,0.701864,0.713090,84140.0,19.554335,0.096816
3,100017000029,0.044739,0.692062,0.641283,56500.0,17.737485,0.296960
4,100018000040,0.077014,0.640060,0.834402,54015.0,18.245421,0.262641

In [476]:
school_info.head()

,SCHOOL_YEAR,FIPST,STATENAME,ST,SCH_NAME,LEA_NAME,STATE_AGENCY_NO,UNION,ST_LEAID,LEAID,...,G_10_OFFERED,G_11_OFFERED,G_12_OFFERED,G_13_OFFERED,G_UG_OFFERED,G_AE_OFFERED,GSLO,GSHI,LEVEL,IGOFFERED
0,2016-2017,1,ALABAMA,AL,Sequoyah Sch - Chalkville Campus,Alabama Youth Services,1,NaN,AL-210,100002,...,Yes,Yes,Yes,No,No,No,07,12,High,As reported
1,2016-2017,1,ALABAMA,AL,Camps,Alabama Youth Services,1,NaN,AL-210,100002,...,Yes,Yes,Yes,No,No,No,07,12,High,As reported
2,2016-2017,1,ALABAMA,AL,Det Ctr,Alabama Youth Services,1,NaN,AL-210,100002,...,Yes,Yes,Yes,No,No,No,07,12,High,As reported
3,2016-2017,1,ALABAMA,AL,Wallace Sch - Mt Meigs Campus,Alabama Youth Services,1,NaN,AL-210,100002,...,Yes,Yes,Yes,No,No,No,07,12,High,As reported
4,2016-2017,1,ALABAMA,AL,McNeel Sch - Vacca Campus,Alabama Youth Services,1,NaN,AL-210,100002,...,Yes,Yes,Yes,No,No,No,07,12,High,As reported

In [477]:
edgap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7986 entries, 0 to 7985
Data columns (total 7 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   NCESSCH School ID                                7986 non-null   int64
 1   CT Unemployment Rate                             7972 non-null   float64
 2   CT Pct Adults with College Degree                7973 non-null   float64
 3   CT Pct Childre In Married Couple Family          7961 non-null   float64
 4   CT Median Household Income                       7966 non-null   float64
 5   School ACT average (or equivalent if SAT score)  7986 non-null   float64
 6   School Pct Free and Reduced Lunch                7986 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 436.9 KB

In [478]:
school_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102183 entries, 0 to 102182
Data columns (total 65 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   SCHOOL_YEAR          102183 non-null  object
 1   FIPST                102183 non-null  int64
 2   STATENAME            102183 non-null  object
 3   ST                   102183 non-null  object
 4   SCH_NAME             102183 non-null  object
 5   LEA_NAME             102183 non-null  object
 6   STATE_AGENCY_NO      102183 non-null  object
 7   UNION                2533 non-null    float64
 8   ST_LEAID             102183 non-null  object
 9   LEAID                102183 non-null  object
 10  ST_SCHID             102183 non-null  object
 11  NCESSCH              102181 non-null  float64
 12  SCHID                102181 non-null  float64
 13  MSTREET1             102181 non-null  object
 14  MSTREET2             1825 non-null    object
 15  MSTREET3             28 non-null      object
 16  MCITY                102183 non-null  object
 17  MSTATE               102183 non-null  object
 18  MZIP                 102183 non-null  object
 19  MZIP4                60419 non-null   object
 20  LSTREET1             102183 non-null  object
 21  LSTREET2             582 non-null     object
 22  LSTREET3             13 non-null      object
 23  LCITY                102183 non-null  object
 24  LSTATE               102183 non-null  object
 25  LZIP                 102183 non-null  object
 26  LZIP4                59145 non-null   object
 27  PHONE                102183 non-null  object
 28  WEBSITE              51983 non-null   object
 29  SY_STATUS            102181 non-null  object
 30  SY_STATUS_TEXT       102181 non-null  object
 31  UPDATED_STATUS       102181 non-null  object
 32  UPDATED_STATUS_TEXT  102181 non-null  object
 33  EFFECTIVE_DATE       102181 non-null  object
 34  SCH_TYPE_TEXT        102181 non-null  object
 35  SCH_TYPE             102181 non-null  object
 36  RECON_STATUS         102181 non-null  object
 37  OUT_OF_STATE_FLAG    102179 non-null  object
 38  CHARTER_TEXT         102179 non-null  object
 39  CHARTAUTH1           6687 non-null    object
 40  CHARTAUTHN1          6687 non-null    object
 41  CHARTAUTH2           116 non-null     object
 42  CHARTAUTHN2          116 non-null     object
 43  NOGRADES             102179 non-null  object
 44  G_PK_OFFERED         102179 non-null  object
 45  G_KG_OFFERED         102179 non-null  object
 46  G_1_OFFERED          102179 non-null  object
 47  G_2_OFFERED          102179 non-null  object
 48  G_3_OFFERED          102179 non-null  object
 49  G_4_OFFERED          102179 non-null  object
 50  G_5_OFFERED          102179 non-null  object
 51  G_6_OFFERED          102179 non-null  object
 52  G_7_OFFERED          102179 non-null  object
 53  G_8_OFFERED          102179 non-null  object
 54  G_9_OFFERED          102179 non-null  object
 55  G_10_OFFERED         102179 non-null  object
 56  G_11_OFFERED         102179 non-null  object
 57  G_12_OFFERED         102179 non-null  object
 58  G_13_OFFERED         102179 non-null  object
 59  G_UG_OFFERED         102179 non-null  object
 60  G_AE_OFFERED         102179 non-null  object
 61  GSLO                 102179 non-null  object
 62  GSHI                 102179 non-null  object
 63  LEVEL                102179 non-null  object
 64  IGOFFERED            102179 non-null  object
dtypes: float64(3), int64(1), object(61)
memory usage: 50.7+ MB

School info data set is much larger than the EdGap data set.

## Convert data types

I want to join the DataFrames using the identity of the school (NCESSCH) as the key.This has a different name and data types in the two DataFrames.

I cast the `NCESSCH` column in the `school_info` DataFrame as an `int64`. First, I need to drop rows where `NCESSCH` is a `NaN` value.

In [479]:
school_info = school_info[school_info['NCESSCH'].isna() == False]

In [480]:
school_info['NCESSCH'] = school_info['NCESSCH'].astype('int64')

<ipython-input-480-006ea9997674>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school_info['NCESSCH'] = school_info['NCESSCH'].astype('int64')

In [481]:
school_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102181 entries, 0 to 102182
Data columns (total 65 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   SCHOOL_YEAR          102181 non-null  object
 1   FIPST                102181 non-null  int64
 2   STATENAME            102181 non-null  object
 3   ST                   102181 non-null  object
 4   SCH_NAME             102181 non-null  object
 5   LEA_NAME             102181 non-null  object
 6   STATE_AGENCY_NO      102181 non-null  object
 7   UNION                2531 non-null    float64
 8   ST_LEAID             102181 non-null  object
 9   LEAID                102181 non-null  object
 10  ST_SCHID             102181 non-null  object
 11  NCESSCH              102181 non-null  int64
 12  SCHID                102181 non-null  float64
 13  MSTREET1             102181 non-null  object
 14  MSTREET2             1825 non-null    object
 15  MSTREET3             26 non-null      object
 16  MCITY                102181 non-null  object
 17  MSTATE               102181 non-null  object
 18  MZIP                 102181 non-null  object
 19  MZIP4                60417 non-null   object
 20  LSTREET1             102181 non-null  object
 21  LSTREET2             580 non-null     object
 22  LSTREET3             11 non-null      object
 23  LCITY                102181 non-null  object
 24  LSTATE               102181 non-null  object
 25  LZIP                 102181 non-null  object
 26  LZIP4                59143 non-null   object
 27  PHONE                102181 non-null  object
 28  WEBSITE              51981 non-null   object
 29  SY_STATUS            102179 non-null  object
 30  SY_STATUS_TEXT       102179 non-null  object
 31  UPDATED_STATUS       102179 non-null  object
 32  UPDATED_STATUS_TEXT  102179 non-null  object
 33  EFFECTIVE_DATE       102179 non-null  object
 34  SCH_TYPE_TEXT        102179 non-null  object
 35  SCH_TYPE             102179 non-null  object
 36  RECON_STATUS         102179 non-null  object
 37  OUT_OF_STATE_FLAG    102179 non-null  object
 38  CHARTER_TEXT         102179 non-null  object
 39  CHARTAUTH1           6687 non-null    object
 40  CHARTAUTHN1          6687 non-null    object
 41  CHARTAUTH2           116 non-null     object
 42  CHARTAUTHN2          116 non-null     object
 43  NOGRADES             102179 non-null  object
 44  G_PK_OFFERED         102179 non-null  object
 45  G_KG_OFFERED         102179 non-null  object
 46  G_1_OFFERED          102179 non-null  object
 47  G_2_OFFERED          102179 non-null  object
 48  G_3_OFFERED          102179 non-null  object
 49  G_4_OFFERED          102179 non-null  object
 50  G_5_OFFERED          102179 non-null  object
 51  G_6_OFFERED          102179 non-null  object
 52  G_7_OFFERED          102179 non-null  object
 53  G_8_OFFERED          102179 non-null  object
 54  G_9_OFFERED          102179 non-null  object
 55  G_10_OFFERED         102179 non-null  object
 56  G_11_OFFERED         102179 non-null  object
 57  G_12_OFFERED         102179 non-null  object
 58  G_13_OFFERED         102179 non-null  object
 59  G_UG_OFFERED         102179 non-null  object
 60  G_AE_OFFERED         102179 non-null  object
 61  GSLO                 102179 non-null  object
 62  GSHI                 102179 non-null  object
 63  LEVEL                102179 non-null  object
 64  IGOFFERED            102179 non-null  object
dtypes: float64(2), int64(2), object(61)
memory usage: 51.5+ MB

## Select relevant subsets of the data

I only need the year, school identity, location, and school type information.

Keep the columns `SCHOOL_YEAR`, `NCESSCH`, `MSTATE`, `MZIP`, `SCH_TYPE_TEXT`, `LEVEL`

In [483]:
school_info = school_info[['SCHOOL_YEAR', 'NCESSCH', 'MSTATE', 'MZIP', 'SCH_TYPE_TEXT', 'LEVEL']]

In [484]:
school_info.head()

  SCHOOL_YEAR      NCESSCH MSTATE   MZIP       SCH_TYPE_TEXT LEVEL
0   2016-2017  10000200277     AL  35220  Alternative School  High
1   2016-2017  10000201667     AL  36057  Alternative School  High
2   2016-2017  10000201670     AL  36057  Alternative School  High
3   2016-2017  10000201705     AL  36057  Alternative School  High
4   2016-2017  10000201706     AL  35206  Alternative School  High

## Rename columns

In [485]:
edgap = edgap.rename(columns={"NCESSCH School ID":"id", 
              "CT Pct Adults with College Degree":"percent_college",        
              "CT Unemployment Rate":"rate_unemployment", 
              "CT Pct Childre In Married Couple Family":"percent_married",
              "CT Median Household Income":"median_income",
              "School ACT average (or equivalent if SAT score)":"average_act",
              "School Pct Free and Reduced Lunch":"percent_lunch"})

In [486]:
school_info = school_info.rename(columns={'SCHOOL_YEAR':'year', 
                                          'NCESSCH':'id', 
                                          'MSTATE':'state',
                                          'MZIP':'zip_code',
                                          'SCH_TYPE_TEXT':'school_type',
                                          'LEVEL':'school_level'})

In [487]:
edgap.head()

,id,rate_unemployment,percent_college,percent_married,median_income,average_act,percent_lunch
0,100001600143,0.117962,0.445283,0.346495,42820.0,20.433455,0.066901
1,100008000024,0.063984,0.662765,0.767619,89320.0,19.498168,0.112412
2,100008000225,0.056460,0.701864,0.713090,84140.0,19.554335,0.096816
3,100017000029,0.044739,0.692062,0.641283,56500.0,17.737485,0.296960
4,100018000040,0.077014,0.640060,0.834402,54015.0,18.245421,0.262641

In [488]:
school_info.head()

        year           id state zip_code         school_type school_level
0  2016-2017  10000200277    AL    35220  Alternative School         High
1  2016-2017  10000201667    AL    36057  Alternative School         High
2  2016-2017  10000201670    AL    36057  Alternative School         High
3  2016-2017  10000201705    AL    36057  Alternative School         High
4  2016-2017  10000201706    AL    35206  Alternative School         High

## Join data frames

In [489]:
edgap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7986 entries, 0 to 7985
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 7986 non-null   int64
 1   rate_unemployment  7972 non-null   float64
 2   percent_college    7973 non-null   float64
 3   percent_married    7961 non-null   float64
 4   median_income      7966 non-null   float64
 5   average_act        7986 non-null   float64
 6   percent_lunch      7986 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 436.9 KB

In [490]:
school_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102181 entries, 0 to 102182
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          102181 non-null  object
 1   id            102181 non-null  int64
 2   state         102181 non-null  object
 3   zip_code      102181 non-null  object
 4   school_type   102179 non-null  object
 5   school_level  102179 non-null  object
dtypes: int64(1), object(5)
memory usage: 5.5+ MB

In [491]:
df = edgap.merge(school_info, how = 'left', on='id')

In [492]:
df.head()

,id,rate_unemployment,percent_college,percent_married,median_income,average_act,percent_lunch,year,state,zip_code,school_type,school_level
0,100001600143,0.117962,0.445283,0.346495,42820.0,20.433455,0.066901,2016-2017,DE,19804,Regular School,High
1,100008000024,0.063984,0.662765,0.767619,89320.0,19.498168,0.112412,2016-2017,DE,19709,Regular School,High
2,100008000225,0.056460,0.701864,0.713090,84140.0,19.554335,0.096816,2016-2017,DE,19709,Regular School,High
3,100017000029,0.044739,0.692062,0.641283,56500.0,17.737485,0.296960,2016-2017,DE,19958,Regular School,High
4,100018000040,0.077014,0.640060,0.834402,54015.0,18.245421,0.262641,2016-2017,DE,19934,Regular School,High

In [493]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7986 entries, 0 to 7985
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 7986 non-null   int64
 1   rate_unemployment  7972 non-null   float64
 2   percent_college    7973 non-null   float64
 3   percent_married    7961 non-null   float64
 4   median_income      7966 non-null   float64
 5   average_act        7986 non-null   float64
 6   percent_lunch      7986 non-null   float64
 7   year               7898 non-null   object
 8   state              7898 non-null   object
 9   zip_code           7898 non-null   object
 10  school_type        7898 non-null   object
 11  school_level       7898 non-null   object
dtypes: float64(6), int64(1), object(5)
memory usage: 811.1+ KB

In [494]:
df['year'].unique()

array(['2016-2017', nan], dtype=object)

In [495]:
df = df[['id',	'rate_unemployment',	'percent_college',	'percent_married',	'median_income',	'average_act',	'percent_lunch',	'state',	'zip_code',	'school_type',	'school_level']]

In [496]:
df

,id,rate_unemployment,percent_college,percent_married,median_income,average_act,percent_lunch,state,zip_code,school_type,school_level
0,100001600143,0.117962,0.445283,0.346495,42820.0,20.433455,0.066901,DE,19804,Regular School,High
1,100008000024,0.063984,0.662765,0.767619,89320.0,19.498168,0.112412,DE,19709,Regular School,High
2,100008000225,0.056460,0.701864,0.713090,84140.0,19.554335,0.096816,DE,19709,Regular School,High
3,100017000029,0.044739,0.692062,0.641283,56500.0,17.737485,0.296960,DE,19958,Regular School,High
4,100018000040,0.077014,0.640060,0.834402,54015.0,18.245421,0.262641,DE,19934,Regular School,High
...,...,...,...,...,...,...,...,...,...,...,...
7981,560530200294,0.034549,0.590780,0.720077,64891.0,18.500000,0.232156,WY,82902,Regular School,High
7982,560569000311,0.069538,0.633860,0.808841,44603.0,22.300000,0.083871,WY,82833,Regular School,High
7983,560569500360,0.035159,0.764566,0.776570,44896.0,21.500000,0.184829,WY,82801,Regular School,High
7984,560576200324,0.063877,0.670532,0.879324,92134.0,19.700000,0.112583,WY,82935,Regular School,High
7985,560583000335,0.033553,0.736511,0.821128,73849.0,21.800000,0.163701,WY,83001,Regular School,High

In [497]:
df['school_level'].value_counts()

High            7230
Other            631
Not reported      35
Elementary         2
Name: school_level, dtype: int64

In [498]:
df['school_type'].value_counts()

Regular School                 7885
Alternative School               10
Special Education School          2
Career and Technical School       1
Name: school_type, dtype: int64

Schools may or may not require students to take ACT so that might impact the reported datas. 

I keep high schools, get rid of elementary schools

In [499]:
df = df.loc[df['school_level'] == 'High']
df['school_level'].value_counts()

High    7230
Name: school_level, dtype: int64

In [500]:
df.describe()

,id,rate_unemployment,percent_college,percent_married,median_income,average_act,percent_lunch
count,7.230000e+03,7218.000000,7219.000000,7210.000000,7214.000000,7230.000000,7230.000000
mean,3.329050e+11,0.096437,0.572968,0.640475,52760.472692,20.288880,0.409447
std,1.333373e+11,0.056610,0.165067,0.191362,24365.505210,2.552661,0.235304
min,1.000016e+11,0.000000,0.091493,0.000000,4833.000000,-3.070818,-0.054545
25%,2.103645e+11,0.057915,0.454489,0.534494,37106.000000,18.800000,0.231863
50%,3.600087e+11,0.084249,0.559406,0.671713,47404.000000,20.500000,0.371203
75%,4.700148e+11,0.121022,0.680251,0.779260,62106.000000,22.000000,0.556800
max,5.605830e+11,0.590278,1.000000,1.000000,226181.000000,32.362637,0.998729

In [501]:
df['id'] = df['id'].map(str)

<ipython-input-501-323a7a4ca4a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id'] = df['id'].map(str)

In [502]:
df.describe()

,rate_unemployment,percent_college,percent_married,median_income,average_act,percent_lunch
count,7218.000000,7219.000000,7210.000000,7214.000000,7230.000000,7230.000000
mean,0.096437,0.572968,0.640475,52760.472692,20.288880,0.409447
std,0.056610,0.165067,0.191362,24365.505210,2.552661,0.235304
min,0.000000,0.091493,0.000000,4833.000000,-3.070818,-0.054545
25%,0.057915,0.454489,0.534494,37106.000000,18.800000,0.231863
50%,0.084249,0.559406,0.671713,47404.000000,20.500000,0.371203
75%,0.121022,0.680251,0.779260,62106.000000,22.000000,0.556800
max,0.590278,1.000000,1.000000,226181.000000,32.362637,0.998729

I get rid of ACT that is less than 1 and percent_lunch that are negative

In [503]:
df.loc[df['percent_lunch'] < 0.0, 'percent_lunch'] = np.nan
df = df[df['average_act'] >= 1.0]

In [504]:
df.describe()

,rate_unemployment,percent_college,percent_married,median_income,average_act,percent_lunch
count,7215.000000,7216.000000,7207.000000,7211.000000,7227.000000,7207.000000
mean,0.096430,0.573075,0.640642,52771.280544,20.298577,0.410460
std,0.056616,0.165018,0.191221,24364.709754,2.508415,0.234442
min,0.000000,0.091493,0.000000,4833.000000,12.362637,0.000000
25%,0.057895,0.454604,0.534597,37115.000000,18.800000,0.232933
50%,0.084242,0.559444,0.671859,47410.000000,20.500000,0.371747
75%,0.120990,0.680315,0.779319,62109.000000,22.000000,0.557114
max,0.590278,1.000000,1.000000,226181.000000,32.362637,0.998729

In [505]:
df.isna().sum()

id                    0
rate_unemployment    12
percent_college      11
percent_married      20
median_income        16
average_act           0
percent_lunch        20
state                 0
zip_code              0
school_type           0
school_level          0
dtype: int64

In [506]:
df

,id,rate_unemployment,percent_college,percent_married,median_income,average_act,percent_lunch,state,zip_code,school_type,school_level
0,100001600143,0.117962,0.445283,0.346495,42820.0,20.433455,0.066901,DE,19804,Regular School,High
1,100008000024,0.063984,0.662765,0.767619,89320.0,19.498168,0.112412,DE,19709,Regular School,High
2,100008000225,0.056460,0.701864,0.713090,84140.0,19.554335,0.096816,DE,19709,Regular School,High
3,100017000029,0.044739,0.692062,0.641283,56500.0,17.737485,0.296960,DE,19958,Regular School,High
4,100018000040,0.077014,0.640060,0.834402,54015.0,18.245421,0.262641,DE,19934,Regular School,High
...,...,...,...,...,...,...,...,...,...,...,...
7981,560530200294,0.034549,0.590780,0.720077,64891.0,18.500000,0.232156,WY,82902,Regular School,High
7982,560569000311,0.069538,0.633860,0.808841,44603.0,22.300000,0.083871,WY,82833,Regular School,High
7983,560569500360,0.035159,0.764566,0.776570,44896.0,21.500000,0.184829,WY,82801,Regular School,High
7984,560576200324,0.063877,0.670532,0.879324,92134.0,19.700000,0.112583,WY,82935,Regular School,High
7985,560583000335,0.033553,0.736511,0.821128,73849.0,21.800000,0.163701,WY,83001,Regular School,High

#Split dataset into X and Y

In [507]:
X = df[['rate_unemployment',	'percent_college',	'percent_married',	'median_income',	'percent_lunch']]

In [508]:
X

,rate_unemployment,percent_college,percent_married,median_income,percent_lunch
0,0.117962,0.445283,0.346495,42820.0,0.066901
1,0.063984,0.662765,0.767619,89320.0,0.112412
2,0.056460,0.701864,0.713090,84140.0,0.096816
3,0.044739,0.692062,0.641283,56500.0,0.296960
4,0.077014,0.640060,0.834402,54015.0,0.262641
...,...,...,...,...,...
7981,0.034549,0.590780,0.720077,64891.0,0.232156
7982,0.069538,0.633860,0.808841,44603.0,0.083871
7983,0.035159,0.764566,0.776570,44896.0,0.184829
7984,0.063877,0.670532,0.879324,92134.0,0.112583
7985,0.033553,0.736511,0.821128,73849.0,0.163701

In [509]:
y = df[['average_act']]

#Split data into training and testing sets

In [510]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=.2)

In [511]:
x_train

,rate_unemployment,percent_college,percent_married,median_income,percent_lunch
7707,0.069864,0.595789,0.799756,53433.0,0.219101
7492,0.046468,0.606900,0.695975,61905.0,0.717949
4991,0.100573,0.342794,0.588526,33974.0,0.503876
5775,0.040676,0.452255,0.827502,49360.0,0.240793
31,0.029801,0.810069,0.683249,75341.0,0.263061
...,...,...,...,...,...
6990,0.082463,0.412939,0.442645,52843.0,0.570021
2039,0.112101,0.433973,0.634146,35991.0,0.454545
1317,0.098960,0.739848,0.794694,99236.0,0.188679
4930,0.015974,0.841306,0.588523,88822.0,0.110613
4318,0.062109,0.601206,0.713680,43657.0,0.540670

## Use MICE imputation on X train and test data

In [512]:
imputer = IterativeImputer()

In [513]:
imputer.fit(x_train.loc[:,'rate_unemployment':'percent_lunch'])

IterativeImputer()

In [514]:
x_train.loc[:, 'rate_unemployment':'percent_lunch'] = imputer.transform(x_train.loc[:,'rate_unemployment':'percent_lunch'])

In [515]:
x_train

,rate_unemployment,percent_college,percent_married,median_income,percent_lunch
7707,0.069864,0.595789,0.799756,53433.0,0.219101
7492,0.046468,0.606900,0.695975,61905.0,0.717949
4991,0.100573,0.342794,0.588526,33974.0,0.503876
5775,0.040676,0.452255,0.827502,49360.0,0.240793
31,0.029801,0.810069,0.683249,75341.0,0.263061
...,...,...,...,...,...
6990,0.082463,0.412939,0.442645,52843.0,0.570021
2039,0.112101,0.433973,0.634146,35991.0,0.454545
1317,0.098960,0.739848,0.794694,99236.0,0.188679
4930,0.015974,0.841306,0.588523,88822.0,0.110613
4318,0.062109,0.601206,0.713680,43657.0,0.540670

In [516]:
x_train.isna().sum()

rate_unemployment    0
percent_college      0
percent_married      0
median_income        0
percent_lunch        0
dtype: int64

In [517]:
x_test.isna().sum()

rate_unemployment    0
percent_college      0
percent_married      2
median_income        1
percent_lunch        5
dtype: int64

In [518]:
x_test.loc[:,'rate_unemployment':'percent_lunch'] = imputer.transform(x_test.loc[:,'rate_unemployment':'percent_lunch'])

In [519]:
x_test.isna().sum()

rate_unemployment    0
percent_college      0
percent_married      0
median_income        0
percent_lunch        0
dtype: int64

In [520]:
y_train.isna().sum()

average_act    0
dtype: int64

In [521]:
y_test.isna().sum()

average_act    0
dtype: int64

In [522]:
train_data = x_train.join(y_train)
test_data = x_test.join(y_test)

In [523]:
train_data

,rate_unemployment,percent_college,percent_married,median_income,percent_lunch,average_act
7707,0.069864,0.595789,0.799756,53433.0,0.219101,22.500000
7492,0.046468,0.606900,0.695975,61905.0,0.717949,15.073260
4991,0.100573,0.342794,0.588526,33974.0,0.503876,19.000000
5775,0.040676,0.452255,0.827502,49360.0,0.240793,23.253968
31,0.029801,0.810069,0.683249,75341.0,0.263061,23.351648
...,...,...,...,...,...,...
6990,0.082463,0.412939,0.442645,52843.0,0.570021,18.589744
2039,0.112101,0.433973,0.634146,35991.0,0.454545,17.400000
1317,0.098960,0.739848,0.794694,99236.0,0.188679,19.600000
4930,0.015974,0.841306,0.588523,88822.0,0.110613,26.000000
4318,0.062109,0.601206,0.713680,43657.0,0.540670,19.859585

In [524]:
test_data

,rate_unemployment,percent_college,percent_married,median_income,percent_lunch,average_act
5810,0.097908,0.382963,0.663706,34296.0,0.546049,17.319902
3720,0.000000,0.822823,1.000000,56422.0,0.081384,22.496947
620,0.144452,0.580635,0.614434,41009.0,0.569343,20.836386
2531,0.067076,0.766814,0.862471,73643.0,0.084711,22.838828
7243,0.057911,0.696121,0.732037,60867.0,0.396655,19.688645
...,...,...,...,...,...,...
538,0.043080,0.414253,0.526839,26748.0,0.675287,16.245421
1668,0.096565,0.506031,0.592166,50291.0,0.257198,20.523810
2810,0.084314,0.810446,0.678955,58231.0,0.150519,21.500000
6059,0.140000,0.318161,0.728383,32010.0,0.514469,18.200000
1798,0.082126,0.654227,0.610608,45402.0,0.120968,22.875458

##Export clean CSV files

In [526]:
from google.colab import files

train_data.to_csv('clean_training_edGap.csv', encoding = 'utf-8-sig', index=False) 
files.download('clean_training_edGap.csv')

test_data.to_csv('clean_testing_edGap.csv', encoding = 'utf-8-sig', index=False) 
files.download('clean_testing_edGap.csv')